default_roles:
  - system
  # - 1password
  - aldente
  - asciiquarium
  - awesomewm
  - bash
  - bat
  - borders
  - btop
  - bun
  - claude
  # - docker
  - flatpak
  - fonts
  - fzf
  - gh
  - ghostty
  - git
  - go
  - hammerspoon
  - helm
  - jj
  - k8s
  - k9s
  - kitty
  - lazygit
  - lsd
  - lua
  - nala
  - ncdu
  - neofetch
  - neovim
  - nerdfetch
  - nvm  # Must run before npm
  - npm
  - obsidian
  - opencode
  - podman
  - pwsh
  - python
  - raycast
  # - ruby
  # - rust
  - slides
  - spotify
  - ssh
  - sshfs
  - starship
  - taskfile
  - terraform
  - terragrunt
  - tldr
  - tmate
  - tmux
  - sesh
  - zoxide
  - zsh

git_user_name: "TechDufus"
op:
  git:
    user:
      email: "op://Personal/GitHub/email"
    allowed_signers: "op://Personal/TechDufus SSH/allowed_signers"
  ssh:
    github:
      techdufus:
        - name: id_ed25519
          vault_path: "op://Personal/TechDufus SSH"

k8s:
  repo:
    version: "v1.26"

helm:
  repos:
    - name: traefik
      url: https://helm.traefik.io/traefik

go:
  packages:
    - package: github.com/go-task/task/v3/cmd/task@latest
      cmd: task
    - package: github.com/gcla/termshark/v2/cmd/termshark@v2.4.0
      cmd: termshark
