default_roles:
  - system
  # - 1password
  - asciiquarium
  - bash
  - docker
  - fonts
  - git
  - go
  - helm
  # - k8s # This is removed until a better kube config mgmt solution is found
  - k9s
  - lua
  - nala
  - neovim
  - npm
  - pwsh
  - python
  - ruby
  - rust
  - ssh
  - terraform
  - tmate
  # - spotify
  - zoxide

git_user_name: "TechDufus"
git_user_email: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    66363134376562313931393632316139636566636137626231373539623666373464336336663466
    3761366235656264343566643232613461363033323232300a656235663966373630663238326263
    61663733313936613464653733313763623864323933626632646133373862633666323638653536
    6365646636663661620a626135653039643139626362326263663339623631383930623836353435
    32346331653038303635643032663738646664643865373462363266346131646530

bash_private:
  # for 'chat' and pipx hey-gpt commands (file)
  OPENAI_KEY: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    64333236306435356564636439336561623332373733396432346565666538393239666432323435
    6261333132313738636465353135353039376232623165360a623162333832613338666263393937
    30336235353665393664366138646432306435656664333236326262663064626363396232666131
    6230303933323636320a306630613631646564336561666464623736376630333563383730343362
    63656232383037663532633861643436643435643631663535376338353736316639326166323162
    62356231373832366665666330366137646239303934343332306233386335653534333038336135
    373962636566626335316536346431393435
  # for `write-the` and shell-gpt
  OPENAI_API_KEY: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    64333236306435356564636439336561623332373733396432346565666538393239666432323435
    6261333132313738636465353135353039376232623165360a623162333832613338666263393937
    30336235353665393664366138646432306435656664333236326262663064626363396232666131
    6230303933323636320a306630613631646564336561666464623736376630333563383730343362
    63656232383037663532633861643436643435643631663535376338353736316639326166323162
    62356231373832366665666330366137646239303934343332306233386335653534333038336135
    373962636566626335316536346431393435

k8s:
  package_versions:
    - name: kubectl
      version: 1.25.3-00
    - name: kubelet
      version: 1.25.3-00
    - name: kubeadm
      version: 1.25.3-00

helm:
  repos:
    - name: traefik
      url: https://helm.traefik.io/traefik

ssh_key:
  lumen-windows-wsl: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    30643138623832386430376563316633343933366639633337383665356337366236633938633338
    6335646638333535336437373735343530393663663566320a633034356335393032653936383764
    36326132323666383930303532613734336331653164346230663037663562373666306562303562
    6634376331383462320a616566616664623938383161656630393264626332383538316366616231
    64356664356537663530316464353137366332633934306335383764396131616332393235323931
    30653733633765303133333437666264643630313961363461653839323133363564646531313134
    62623336376364616566613738613961373165383563353265366363333761666231623862306666
    63343137373937643864376435323434626637373935333035663366376233396266623038336463
    35666261396637363131303163323864616233336363613930623934656139323064346565626436
    66303033623639313736386434363131623239663039616638653335333063353036323266333831
    32643161663238336135323130633362326562353163366531633835376239343533613335653236
    64633861393132313932623662333662643536393833396637326230336662616432346161363866
    35313537323564363439353262303134636662373532643632653434653534326136633233356365
    31356462333432333332663039393632393838656131623865373233353039633962353761376636
    65316630356464383430353731326135343934393563383066343931306663623531326663393637
    62663134396430633861343637383237616338356335663539643563623665666639646566636235
    31343834346634343535646161663063363762316664633633333631396235666234323464623130
    39626539366431333563323536663830356361613662316164386138646235363161316166383936
    32646537633763646138663966313436663238393232346635666266343261336437626565366661
    39613765303962633736386362396533346230663730663264346463383936633530666337656439
    66616361633166396135643864373964653664613135313138626662633265636637613666363263
    32343764303334613434363739313238643733373837316630383536633237306433393939336530
    38363338396262626239333538636238303461376537643061333539643134623461356432366266
    35346239613834633033323964633035303134626366636362613466313165323764666435646264
    6130
  lumen-windows-wsl.pub: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    30333134626639616238323031333730653833333134613561633531326534396436313739376361
    6264383635343638393434616431353533323432333739390a663131316132396461363566623439
    35356266313562646639396462633633386431333962393363373132333863333832363732343136
    6265343536666435370a386463326435663131393765373962666165623338363263373431323730
    61393831623033383765326232383062636566393935346437393632303834613730333664646439
    38373164646437313333313031646236363463356263326234393533393434343430393862616362
    37663538383530666231663236323034613135636162643963613237313738653435656461373932
    35656236373937646663626664323439313963346634303233373535313863303632626534663536
    34363737363237623637383237363965303162646431623735643763383234313437
