---
- name: Set role name
  ansible.builtin.set_fact:
    role_name: glab

- name: Get the path to this role
  ansible.builtin.set_fact:
    role_path: "{{ lookup('pipe', 'pwd') }}/roles/{{ role_name }}"

- name: "{{ role_name }} | Checking for Distribution Config: {{ ansible_facts['distribution'] }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts['distribution'] }}.yml"
  register: distribution_config

- name: "{{ role_name }} | Run Tasks: {{ ansible_facts['distribution'] }}"
  ansible.builtin.include_tasks: "{{ ansible_facts['distribution'] }}.yml"
  when: distribution_config.stat.exists

- name: "{{ role_name }} | Setup | Create config directory"
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/glab-cli"
    state: directory
    mode: "0755"

- name: "{{ role_name }} | Check for existing config"
  ansible.builtin.stat:
    path: "{{ ansible_facts['user_dir'] }}/.config/glab-cli/config.yml"
  register: glab_config

- name: "{{ role_name }} | Configure | Default aliases"
  ansible.builtin.copy:
    src: "{{ _files_path | default(role_path ~ '/files') }}/config.yml"
    dest: "{{ ansible_facts['user_dir'] }}/.config/glab-cli/config.yml"
    mode: "0600"
  when: not glab_config.stat.exists
