---
- name: Update APT cache
  apt:
    update_cache: yes
  become: true

- name: Install Lua
  ansible.builtin.apt:
    name: "{{ item }}"
  become: true
  loop:
    - lua5.1
    - luarocks
    - luajit

- name: Gather installd lua rocks
  ansible.builtin.command: luarocks list
  register: rocks
  changed_when: false
  check_mode: false

- name: Install Lua modules
  ansible.builtin.command:
    cmd: luarocks install {{ item }}
  become: true
  loop:
    - luabitop
  when: item not in rocks.stdout
