---
- name: "{{ role_name }} | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: distribution_config

- name: "{{ role_name }} | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: distribution_config.stat.exists

- name: "System | Set hosts"
  ansible.builtin.template:
    dest: "/etc/hosts"
    src: hosts.j2
    mode: "0644"
  become: true
  when: not ansible_host_environment_is_wsl

- name: "System | Get Host from Vault"
  ansible.builtin.command:
    cmd: op --account my.1password.com read op://Raft/rdp-demo-local-ingress/notesPlain
  register: rdp_demo_local_ingress_hosts
  changed_when: false

- name: "System | Add Vault Hosts to /etc/hosts"
  when: rdp_demo_local_ingress_hosts is defined
  ansible.builtin.lineinfile:
    line: "{{ rdp_demo_local_ingress_hosts.stdout }}"
    path: /etc/hosts
  become: true
