shell:
  program: wsl -d ubuntu

font:
  normal:
    family: BerkeleyMono Nerd Font
    style: Regular
  bold:
    family: BerkeleyMono Nerd Font
    style: Bold
  italic:
    family: BerkeleyMono Nerd Font
    style: Italic
  bold_italic:
    family: BerkeleyMono Nerd Font
    style: Bold Italic


live_config_reload: true

selection:
  save_to_clipboard: true

mouse:
  hints:
    launcher:
      program: open
    modifiers: Command
