---
- name: restart systemd-journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted
  become: true

- name: restart systemd-zram-setup@zram0
  ansible.builtin.systemd:
    name: systemd-zram-setup@zram0
    state: restarted
  become: true

- name: restart systemd-logind
  ansible.builtin.systemd:
    name: systemd-logind
    state: restarted
  become: true