{
  "telemetry": {
    "system_info": false
  },
  "search_files_in_root": false,
  "close_on_focus_loss": true,
  "pop_to_root_on_close": true,
  "escape_key_behavior": "close_window",
  "favicon_service": "none",
  "font": {
    "rendering": "qt",
    "normal": {
      "family": "auto",
      "size": 10.5
    }
  },
  "theme": {
    "dark": {
      "name": "vicinae-dark",
      "icon_theme": "auto"
    },
    "light": {
      "name": "vicinae-light",
      "icon_theme": "auto"
    }
  },
  "launcher_window": {
    "opacity": 0.98,
    "blur": {
      "enabled": false
    },
    "client_side_decorations": {
      "enabled": true,
      "rounding": 10,
      "border_width": 1
    },
    "compact_mode": {
      "enabled": false
    },
    "size": {
      "width": 770,
      "height": 480
    },
    "screen": "auto",
    "layer_shell": {
      "enabled": false
    }
  },
  "favorites": [
    "clipboard:history"
  ],
  "fallbacks": [
    "files:search"
  ]
}
