---
- name: "Install"
  ansible.builtin.homebrew:
    name: whalebrew
    state: present

- name: "Installing Addons"
  ansible.builtin.command:
    cmd: whalebrew install {{ item.package }}
    creates: /opt/whalebrew/bin/{{ item.bin }}
  with_items:
    - package: tsub/graph-easy
      bin: graph-easy
