---
- name: "BTOP | Ubuntu | Install btop package"
  ansible.builtin.apt:
    name: btop
    state: present
    update_cache: true
  become: true

- name: "BTOP | Ubuntu | Remove old bpytop if installed"
  ansible.builtin.apt:
    name: bpytop
    state: absent
  become: true
  ignore_errors: true
